<!DOCTYPE html>
<html class="is-scrolling">
<head>
	<title>UAVS Career Fair 2022</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="shortcut icon" href="assets/images/slogo.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css" /> 
	<link rel="stylesheet" href="assets/plugins/nouislider.css" /> 
	<link rel="stylesheet" href="assets/plugins/lightslider.min.css" /> 
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
</head>
<body>
	<header>
		<div class="top-header">
			<div class="wrapper">
				<div class="top-head-wrapper">
					<div class="header-nav-control">
						<i class="fas fa-bars"></i>
					</div>
					<div class="header-logo-wrapper">
						<a href=""><img src="assets/images/logo.png" alt=""></a>
					</div>
					<div class="header-search-wrapper">
						<div class="header-input">
							<input type="text" placeholder="Tìm kiếm sản phẩm bạn muốn mua">
							<div class="search-action">
								<i class="fas fa-search"></i>
							</div>
						</div>
					</div>
					<div class="header-hotline-wrapper">
						<a class="call-icon" href="">
							<i class="fas fa-phone-alt"></i>
						</a>
						<span>Hotline: </span>
						<p>0123 456 789</p>
					</div>
					<div class="header-action-wrapper">
						<a href="" class="action-item">Đăng nhập</a>
						<a href="" class="action-item">Đăng kí</a>
						<a href="" class="shopping-cart">
							<div class="cart-wrapper">
								<i class="fas fa-shopping-cart"></i>
								<div class="cart-number">
									6
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-header">
			<div class="wrapper">
				<div class="nav-header-wrapper">
					<a href="" class="nav-header-item">trang chủ</a>
					<a href="" class="nav-header-item">Tất cả sản phẩm</a>
					<div class="nav-sub-list">
						<a href="" class="nav-header-item"> Danh mục </a>
						<div class="sub-list-wrapper">
							<a href="" class="sub-item">abc</a>
							<a href="" class="sub-item">abc</a>
							<a href="" class="sub-item">abc</a>
							<a href="" class="sub-item">abc</a>
						</div>
						<div class="nav-dropdown">
							<i class="fas fa-sort-down"></i>
						</div>
					</div> 
					<a href="" class="nav-header-item">Tin tức</a>
					<a href="" class="nav-header-item">Đang giảm giá</a> 
				</div>
			</div>
		</div>
		<div class="search-header">
			<input type="text" placeholder="Tìm kiếm sản phẩm bạn muốn mua">
		</div>
	</header>
	<main>
		<div class="I-product">
		    <div class="wrapper">
		    	<div class="product-wrapper">
		    		<div class="product-top-nav">
			    		<a href="" class="top-nav-item">Trang chủ</a>
			    		<span><i class="fas fa-caret-right"></i></span>
			    		<a href="" class="top-nav-item">Sản phẩm</a>
			    		<span><i class="fas fa-caret-right"></i></span>
			    		<p>Tên sản phẩm</p>
		    		</div>
		    		<div class="product-item-wrapper">
		    			<div class="product-slider-wrapper">
		    				<ul id="lightSlider">
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-1.jpg');">
						        	
						        	</div> 
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-2.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-3.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-4.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-5.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-6.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-7.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-8.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-9.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-10.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-11.jpg');">
						            	
						            </div>	
						        </li>
						        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
						        	<div class="image-data" style="background-image: url('https://sachinchoolur.github.io/lightslider/img/cS-13.jpg');">
						            	
						            </div>	
						        </li>
						    </ul> 
		    			</div>
		    			<div class="product-description-wrapper">
		    				<h2 class="product-name">Sơ mi HT nơ VP</h2>
		    				<div class="product-prices">
		    					<p class="real-prices">280,000<sup>đ</sup></p>
		    					<del class="discount-prices">280,000<sup>đ</sup></del>
		    				</div>	
		    				<div class="product-description">
		    					<p>- Áo sát nách dáng bom mang tới một phong cách mới mẻ, khác lạ không kém phần lôi cuốn</p>
								<p>- Được may trên nền chất liêu thô mang tới tính thoải mái, thấm hút mồ hôi tốt và co giãn nhẹ</p>
								<p>- Kiểu dáng mang tới sự trẻ trung, sexy, gợi cảm </p>
								<p>- Áo dễ dàng kết hợp với một chiếc chân váy, quần jeans hoặc một chiếc quần sooc</p>
								- Xuất xứ: Việt Nam 
								Sản phẩm được thiết kế bởi thương hiệu thời trang CChat Clothes với sản phẩm mang lại giá trị cốt lõi vẻ đẹp, chất lượng tuyệt đối cho chị em . CChat tin rằng sẽ đem lại sự trải nghiệm tuyệt vời cho các chị khi sử dụng sản phẩm và dịch vụ của CChat
		    				</div>			
		    				<div class="product-group-title">
		    					Màu sắc
		    				</div>
		    				<div class="product-color-list">
		    					<div class="color-item">
		    						
		    					</div>
		    					<div class="color-item">
		    						
		    					</div>
		    					<div class="color-item">
		    						
		    					</div>
		    					<div class="color-item">
		    						
		    					</div>
		    				</div>		
		    				<div class="product-group-title">
		    					Kích thước
		    				</div>
		    				<div class="product-size-list">
		    					<div class="size-item">
		    						<div class="selected-wrapper"><i class="fas fa-check"></i></div>
		    						s
		    					</div>
		    					<div class="size-item">
		    						<div class="selected-wrapper"><i class="fas fa-check"></i></div>
		    					</div>
		    					<div class="size-item">
		    						<div class="selected-wrapper"><i class="fas fa-check"></i></div>
		    					</div>
		    					<div class="size-item">
		    						<div class="selected-wrapper"><i class="fas fa-check"></i></div>
		    					</div>
		    				</div>
		    				<button class="btn btn-add-to-cart">Thêm vào giỏ hàng</button>
		    			</div>
		    			<div class="product-rules">
		    				<div class="rule-wrapper">
		    					<div class="rule-item">
		    						<i class="fas fa-shipping-fast"></i>Giao hàng toàn quốc
		    					</div>
		    					<div class="rule-item">
		    						<i class="fas fa-undo"></i>Đổi trả hàng
		    					</div>
		    					<div class="rule-item">
		    						<i class="fas fa-money-check"></i>Thanh toán nhanh gọn
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="product-item-description-wrapper">
		    			<h4>Chi tiết sản phẩm</h4>
		    			<div class="item-detail">
		    				
		    			</div>
		    		</div>
		    	</div>
		    </div>		
		</div>
		<div class="I-list-item">
			<div class="list-item-title">
				TOP sản phẩm mới nhất tuần này 
			</div>
			<div class="wrapper">
				<div class="list-wrapper">
					<div class="item-wrapper">
						<div class="item-block">
							<a href="" class="item-image">
								
							</a>
							<div class="item-title-wrapper">
								<h2 class="item-title"><a href="">Sét bộ HT xích dáng xòe</a></h2>
								<p class="item-prices">770,000<sup>đ</sup></p>
								<div class="item-metadata-wrapper">
									<div class="size-list">
										<div class="size-item" style="background-color: red;">
											
										</div>
									</div>
									<div class="color-list">
										<div class="color-item">
											s
										</div>
										<div class="color-item">
											x
										</div>
										<div class="color-item">
											m
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-block">
							<a href="" class="item-image">
								
							</a>
							<div class="item-title-wrapper">
								<h2 class="item-title"><a href="">Sét bộ HT xích dáng xòe</a></h2>
								<p class="item-prices">770,000<sup>đ</sup></p>
								<div class="item-metadata-wrapper">
									<div class="size-list">
										<div class="size-item" style="background-color: red;">
											
										</div>
									</div>
									<div class="color-list">
										<div class="color-item">
											s
										</div>
										<div class="color-item">
											x
										</div>
										<div class="color-item">
											m
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-block">
							<a href="" class="item-image">
								
							</a>
							<div class="item-title-wrapper">
								<h2 class="item-title"><a href="">Sét bộ HT xích dáng xòe</a></h2>
								<p class="item-prices">770,000<sup>đ</sup></p>
								<div class="item-metadata-wrapper">
									<div class="size-list">
										<div class="size-item" style="background-color: red;">
											
										</div>
									</div>
									<div class="color-list">
										<div class="color-item">
											s
										</div>
										<div class="color-item">
											x
										</div>
										<div class="color-item">
											m
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-block">
							<a href="" class="item-image">
								
							</a>
							<div class="item-title-wrapper">
								<h2 class="item-title"><a href="">Sét bộ HT xích dáng xòe</a></h2>
								<p class="item-prices">770,000<sup>đ</sup></p>
								<div class="item-metadata-wrapper">
									<div class="size-list">
										<div class="size-item" style="background-color: red;">
											
										</div>
									</div>
									<div class="color-list">
										<div class="color-item">
											s
										</div>
										<div class="color-item">
											x
										</div>
										<div class="color-item">
											m
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-block">
							<a href="" class="item-image">
								
							</a>
							<div class="item-title-wrapper">
								<h2 class="item-title"><a href="">Sét bộ HT xích dáng xòe</a></h2>
								<p class="item-prices">770,000<sup>đ</sup></p>
								<div class="item-metadata-wrapper">
									<div class="size-list">
										<div class="size-item" style="background-color: red;">
											
										</div>
									</div>
									<div class="color-list">
										<div class="color-item">
											s
										</div>
										<div class="color-item">
											x
										</div>
										<div class="color-item">
											m
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
				<div class="list-item-footer">
					Mời bạn <a href="">xem thêm các mẫu mới</a> khác
				</div>
			</div>
		</div>
	</main> 
	<footer>
		<div class="I-footer">
			<div class="footer_contact">
				<div class="wrapper">
					<div class="row">
						<div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
							<a href="#" class="full_logo">
								<img src="assets/images/logo.png">
							</a>
							<div class="full_logo">
								<img src="assets/images/logosalenoti.png"> 
							</div>
						</div>
						<div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
							<div class="contact_wrapper">
								<div class="contact_title">
									<h5>D.Liebe Store</h5>
								</div>
								<div class="contact_content">
									<span>Ha noi</span> 
									<span><i class="fas fa-phone"></i>0123456789</span>
									<span><i class="fas fa-envelope"></i>0123456789</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
							<div class="contact_wrapper">
								<div class="contact_title">
									<h5>Danh mục</h5>
								</div>
								<div class="contact_content">
									<span><a href="">Mobile Application Development</a></span>
									<span><a href="">Web Application Development</a></span>
									<span><a href="">Blockchain Development</a></span>
									<span><a href="">Artificial Intelligence</a></span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
							<div class="contact_wrapper">
								<div class="contact_title">
									<h5>Theo dõi chúng tôi</h5>
								</div>
								<div class="contact_content">
									<div class="social_wrapper">
										<a href="" class="social-item"><i class="fab fa-facebook-f"></i></a>
										<a href="" class="social-item"><i class="fab fa-linkedin-in"></i></a>
										<a href="" class="social-item"><i class="fab fa-twitter"></i></a>
										<a href="" class="social-item"><i class="fab fa-telegram-plane"></i></a>
										<a href="" class="social-item"><i class="fab fa-instagram"></i></a>
										<a href="" class="social-item"><i class="fab fa-youtube"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="wrapper">
					<div class="pull-left">
						Copyright © D.Liebe Store 2022. All rights reserved. 
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
<script src="https://kit.fontawesome.com/d8162761f2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script> 
<script type="text/javascript" src="assets/js/owl.carousel.js"></script>  
<script type="text/javascript" src="assets/plugins/nouislider.js"></script>  
<script type="text/javascript" src="assets/plugins/lightslider.min.js"></script>  
<script type="text/javascript" src="assets/js/window.js"></script>  
<script type="text/javascript" src="assets/js/page/index.js"></script> 

</html>			