header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 170px; 
	z-index: 1000;
	transition: all 0ms ease;
}
header.is-scroll{
	top: -110px;
	transition: all 200ms ease;
}
header .wrapper{
	height: 100%;
}
header .top-header{
	width: 100%;
	height: 110px;
	background-color: #fff;
}
header .top-header .top-head-wrapper{
	width: 100%;
	display: flex;
	height: 100%;
}
header .top-header .header-nav-control{
	width: 40px;
	height: 40px;
	border: 1px solid #666;
	display: none;
	align-items: center;
	justify-content: center;
	margin: 0 20px 0 0;
}
header .top-header .header-logo-wrapper{
	height: 100%;
	display: flex;
	align-items: center;
}
header .top-header .header-logo-wrapper img{
	width: auto;
	height: 60px;
}
header .top-header .header-search-wrapper{
	width: 340px;
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
}
header .top-header .header-search-wrapper .header-input{
	position: relative;
	width: 100%;
	height: 35px;
}
header .top-header .header-search-wrapper .header-input input{
	position: relative;
	width: 100%;
	height: 35px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	padding: 0 15px;
	z-index: 1;
}
header .top-header .header-search-wrapper .header-input .search-action{
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	cursor: pointer;
}
header .top-header .header-hotline-wrapper{
	width: 200px;
	height: 100%;
	display: flex;
	align-items: center;
}
header .top-header .header-hotline-wrapper .call-icon{
	width: 30px;
	height: 30px;
	background-color: #f7f7f7;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #666666;
}
header .top-header .header-hotline-wrapper span{
	font-size: 14px;
	display: inline-block;
	margin: 0 5px;
}
header .top-header .header-hotline-wrapper p{
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
header .top-header .header-action-wrapper{
	margin-left: auto;
	display: flex;
	align-items: center;
}
header .top-header .header-action-wrapper a{
	font-size: 16px;
	display: inline-block; 
	padding: 0 10px;
	color: #666
}
header .top-header .header-action-wrapper a:not(:last-child){
	border-right: 2px solid #ccc;
}
header .top-header .header-action-wrapper a.shopping-cart{

}
header .top-header .header-action-wrapper a.shopping-cart .cart-wrapper{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #3474d4;
	color: #fff;
	display: flex;
	font-size: 12px;
	align-items: center;
	justify-content: center;
}
header .top-header .header-action-wrapper a.shopping-cart .cart-wrapper .cart-number{
	position: absolute;
	bottom: -5px;
	right: -5px;
	border: 1px solid #fff;
	background-color: #fff;
	font-size: 9px;
	display: flex;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	color: #000;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	box-shadow: 1px 1px 1px 1px #ccc;
}
 
header .nav-header{
	width: 100%;
	height: 60px;
	background-color: #f7f7f7;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
header .nav-header .nav-header-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}
header .nav-header .nav-header-wrapper .nav-header-item{
	padding: 20px;
	color: #333;
	height: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
header .nav-header .nav-header-wrapper .nav-sub-list{
	position: relative;
	padding: 20px;
	border-right: 1px dashed #ddd;
}
header .nav-header .nav-header-wrapper .nav-sub-list .nav-header-item{
	padding: 0;
	border-right: none;
}
header .nav-header .nav-header-wrapper .nav-sub-list .sub-list-wrapper{
	position: absolute;
	top: 120%;
	left: 0;
	width: 200px; 
	background-color: #f7f7f7;
	opacity: 0;
	visibility: hidden;
	z-index: -100;
	padding: 10px
}
header .nav-header .nav-header-wrapper .nav-sub-list .sub-list-wrapper .sub-item{
	color: #333;
	height: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 10px 0;
	display: block;
}
header .nav-header .nav-header-wrapper .nav-sub-list .sub-list-wrapper .sub-item:hover{
	color: #3474d4;
}

header .nav-header .nav-header-wrapper .nav-sub-list:hover .sub-list-wrapper{
	top: 100%;
	opacity: 1;
	visibility: visible;
	z-index: 100;
}
header .nav-header .nav-header-wrapper .nav-sub-list .nav-dropdown{
	display: none;
} 
header .nav-header .nav-header-wrapper .nav-header-item:hover{
	color: #3474d4;
}
header .nav-header .nav-header-wrapper .nav-header-item:not(:last-child){
	border-right: 1px dashed #ddd;
}
header .search-header{
	display: none;
}


@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1480px){ 

}
@media only screen and (max-width: 1280px){ 

}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 991px){
	header{
		height: 130px;
	}
	header.is-scroll{
		top: 0;
		transition: all 200ms ease;
	}
	header .top-header{
		height: 80px;
	}
	header .top-header .header-nav-control{
		display: flex;
	}
	header .top-header .header-logo-wrapper img{
		height: 40px;
	}
	header .top-header .top-head-wrapper{
		align-items: center;
		justify-content: space-between;
	}
    header .top-header .header-search-wrapper{
    	display: none;
    }
    header .top-header .header-hotline-wrapper{
    	display: none;
    }
    header .nav-header{
    	position: fixed;
    	top: 80px;
    	left: -100%;
    	width: 300px;
    	height: calc(100vh - 80px);
    }
    header.is-open .nav-header{
    	left: 0;
    }
    header .wrapper{
    	width: 100%;
    }
    header .nav-header .nav-header-wrapper{
    	display: block;
    	padding: 10px;
    }
    header .nav-header .nav-header-wrapper .nav-header-item{
    	display: block;
    	padding: 10px;
    }
    header .nav-header .nav-header-wrapper .nav-sub-list{
    	padding: 10px;
    	display: flex;
    	justify-content: space-between;
    }
    header .nav-header .nav-header-wrapper .nav-sub-list .sub-list-wrapper{
    	top: 0;
    	left: 120%;
    }
	header .nav-header .nav-header-wrapper .nav-sub-list:hover .sub-list-wrapper{
		left: 60%;
		top: 0;
	}
    header .nav-header .nav-header-wrapper .nav-header-item:not(:last-child){
    	border: none;
    }
	header .nav-header .nav-header-wrapper .nav-sub-list .nav-dropdown{
		display: block;
	} 
	header .search-header{
		display: block;
		width: 100%;
		height: 50px;
		background-color: #fff;
		border-top: 1px solid #ccc;
		padding: 5px 10px;
	}
	header .search-header input{
		width: 100%;
		padding: 10px;
		height: 100%;
		border-radius: 4px;
		outline: none;
		border: 1px solid #ccc;
	}
}
@media only screen and (max-width: 767px){

}
@media only screen and (max-width: 575px){
	header .top-header .header-action-wrapper{
		margin-left: 0;
	}
	header .top-header .header-action-wrapper .action-item{
		display: none;
	}
} 

